n8n:
  # Can't find the expected format for existingSecret
  # existingSecret: cnpg-cluster-app
  ingress:
    enabled: true
    hosts:
      - host: n8n.homelab.lan
        paths:
          - /
  livenessProbe:
    httpGet:
      path: /
  readinessProbe:
    httpGet:
      path: /
