# Default values: https://github.com/renovatebot/helm-charts/blob/renovate-37.77.1/charts/renovate/values.yaml

renovate:
  existingSecret: renovate-token

  renovate:
    # Configuration Renovate (JSON string)
    config: |
      {
        "platform": "github",
        "repositories": ["ChapChap/argo-dojo-kube"],
        "autodiscover": false,
        "requireConfig": "optional",
        "onboarding": false,
        "logLevel": "info"
      }
    env:
      - name: NODE_OPTIONS
        value: "--max-old-space-size=768"  # ~768 MiB heap

    # Injecte les variables d'environnement depuis le Secret
    envFrom:
      - secretRef:
          name: renovate-token

  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      memory: 1Gi
