# Default values for guestbook.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# replicaCount: 2
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

image:
  repository: achapusot/guestbook
  tag: 1.0.0

serviceAccount:
  create: true

podSecurityContext:
  fsGroup: 2000

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  port: 3000

resources:
  limits:
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    # path: /healthz
    port: http
readinessProbe:
  httpGet:
    path: /
    # path: /healthz
    port: http

affinity: {}

ingress:
  enabled: false
