argo-cd:
  configs:
    params:
      server.insecure: true
  global:
    domain: argocd.fbi.com
    networkPolicy:
      create: true
      defaultDenyIngress: false
  server:
    ingress:
      ingressClassName: traefik
      annotations:
        nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      enabled: true
      tls: false
    # resources:
    #   requests:
    #     cpu: 100m
    #     memory: 256Mi
    #   limits:
    #     memory: 256Mi

  # controller:
  #   resources:
  #     requests:
  #       cpu: 100m
  #       memory: 512Mi
  #     limits:
  #       memory: 512Mi

  # repoServer:
  #   resources:
  #     requests:
  #       cpu: 1000m
  #       memory: 384Mi
  #     limits:
  #       memory: 512Mi

  # applicationSet:
  #   resources:
  #     requests:
  #       cpu: 10m
  #       memory: 192Mi
  #     limits:
  #       memory: 256Mi

  # redis:
  #   resources:
  #     requests:
  #       cpu: 10m
  #       memory: 32Mi
  #     limits:
  #       memory: 128Mi

  # dex:
  #   resources:
  #     requests:
  #       cpu: 10m
  #       memory: 128Mi
  #     limits:
  #       memory: 192Mi
