apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: cnpg-secret-store
  namespace: n8n
spec:
  provider:
    kubernetes:
      remoteNamespace: cnpg-cluster
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          key: ca.crt
      auth:
        serviceAccount:
          name: external-secrets
